ion-card {
    box-shadow: 1px 1px 5px 0px rgba(84, 6, 156, 0.315);
    border-radius: 15px;
}

img {
    padding: 10px;
}

#lowStockIndicate {
    margin-top: 1rem;
    text-align: center;
}

#remoteheader {
    border-color: #e4e4e494;
    border-style: solid;
    border-radius: 15px;
    
}

h2 {
    margin-left: 10px;
    
}

#remotedetails {
    padding-top: 25px;
    padding-right: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
}

lowStockButton {
    border-radius: 15px;
}

