<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>REMOTE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="{{selectedremote.image}}" width="320" height="320" />
    <ion-card-header>
      <ion-card-title>Box No: {{selectedremote.boxnumber}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <b>Tapsy Code: </b>{{selectedremote.tapsycode}}
      <br>
      <b>Blade: </b>{{selectedremote.inbuildblade}}
      <br>
      <b>Inbuild Chip: </b>{{selectedremote.inbuildchip}}
      <br>
      <b>Compitable with: </b>
      <br>
      <ul *ngFor="let car of selectedremote.compitablecars">
        <li>
          <ion-text color="secondary">{{car.brand}} {{car.model}} {{car.startyear}} - {{car.endyear}}</ion-text>
        </li>
      </ul>
      <br>
      <b>Notes: </b>
      <br>
      <ion-text color="danger">
        {{selectedremote.notes}}
      </ion-text>
    </ion-card-content>
  </ion-card>

</ion-content>