<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{brand}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let model of models" (click)="onClick(x = model.model, y = model.range, type = model.type, startyear = model.startyear, endyear = model.endyear)">
    <ion-card-content>

      <ion-row no-padding>
        <ion-col size="7">
          <ion-card-subtitle color="medium">{{model.startyear}}-{{model.endyear}}</ion-card-subtitle>
          <ion-card-title>{{model.model}}</ion-card-title>
        </ion-col>
        <ion-col size="5">
          <img src="{{model.icon}}">
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>
