<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/result"></ion-back-button>
    </ion-buttons>
    <ion-title>Notes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-card>
      <ion-item lines="none">
        <ion-label position="floating" color="medium">add a note</ion-label>
        <ion-textarea ngModel name="carnote"></ion-textarea>
      </ion-item>
      <br>
      <ion-button class="doneButton" type="submit" expand="block">SAVE</ion-button>
    </ion-card>
  </form>

  <ion-card *ngFor="let note of programmingDetails.notes" class="notesbynote">
    <ion-card-content>
         {{note}}
    </ion-card-content>
  </ion-card>
</ion-content>