.doneButton {
    padding: 8px;
}

.notesbynote {
    box-shadow: 1px 1px 5px 0px rgba(84, 6, 156, 0.315);
    border-radius: 15px;
    margin: 8px;
}

ion-card {
    box-shadow: 1px 1px 5px 0px rgba(84, 6, 156, 0.315);
    border-radius: 12px;
    margin: 12px;
}