<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Remote</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-card>
    <ion-item>
      <ion-label color="danger" position="stacked">Car Brand</ion-label>
      <ion-input type="text" ngModel name="carbrand" placeholder="NLK-FORD-433.2" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="danger" position="stacked">Icon Name</ion-label>
      <ion-input placeholder="110" type="text" ngModel name="iconname" required></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-label color="secondary" position="stacked">Blade</ion-label>
      <ion-input placeholder="HU100" type="text" ngModel name="blade"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="secondary" position="stacked">Inbuild Chip</ion-label>
      <ion-input placeholder="ID49" type="text" ngModel name="inbuildChip"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="secondary" position="stacked">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label color="danger" position="stacked">Upload a photo</ion-label>
      <ion-button class= "selectbuttons" fill="outline" shape="round" (click)="onClick(x = remote.remotenumber)">Select</ion-button> -->
      <!-- <input type="file" name="inputFile" (change)="chooseFile($event)" class="imageuploader" required>
    </ion-item> -->
    <br>
    <ion-button class="doneButton" type="submit" (click)="saveremote()" expand="block">DONE</ion-button>
    </ion-card>
  </form>
</ion-content>