<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Remote</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-card>
      <ion-item>
        <ion-label color="danger" position="stacked">Box No</ion-label>
        <ion-input type="number" ngModel name="boxnumber" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="danger" position="stacked">Tapsy Code</ion-label>
        <ion-input type="text" ngModel name="tapsycode" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="tertiary" position="stacked">Inbuild Chip</ion-label>
        <ion-input placeholder="ID48" type="text" ngModel name="inbuildchip"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="tertiary" position="stacked">Blade</ion-label>
        <ion-input placeholder="HU100" type="text" ngModel name="inbuildblade"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label color="tertiary" position="stacked">Remote Type</ion-label>
      </ion-item>
      <ion-item>
        <ion-segment value="bladed" (ionChange)="RemotetypeChanged($event)">
          <ion-segment-button value="bladed">
            <ion-label>Bladed</ion-label>
          </ion-segment-button>
          <ion-segment-button value="slot">
            <ion-label>Slot</ion-label>
          </ion-segment-button>
          <ion-segment-button value="prox">
            <ion-label>Prox</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>
      <ion-item lines="none">
        <ion-label color="tertiary" position="stacked">Notes</ion-label>
        <ion-textarea rows="3" cols="20" placeholder="Enter any notes here..."></ion-textarea>
      </ion-item>
    </ion-card>

    <ion-card>
    <ion-item lines="none">
      <ion-label color="danger" position="stacked">Car Brand</ion-label>
      <ion-select ngModel name="carmodel" (ionChange)="onChangeBrand($event)">
        <ion-select-option *ngFor="let carbrand of carbrands" [value]="selectedbrand">{{carbrand}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="none">
      <ion-label color="danger" position="stacked">Car Model</ion-label>
      <ion-select ngModel name="carmodel" (ionChange)="onChangeModel($event)">
        <ion-select-option *ngFor="let carmodel of selectedcarbrandmodels" [value]="selectedmodel">{{carmodel.model}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="none">
      <ion-label color="danger" position="stacked">Start Year</ion-label>
      <ion-select ngModel name="startyear">
        <ion-select-option *ngFor="let year of selectedcarmodelyears" [value]="selectedstartyear">{{year}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="none">
      <ion-label color="danger" position="stacked">End Year</ion-label>
      <ion-select ngModel name="endyear">
        <ion-select-option *ngFor="let year of selectedcarmodelyears" [value]="selectedendyear">{{year}}</ion-select-option>
      </ion-select>
    </ion-item>

    <br>
    <ion-button class="doneButton" type="submit" expand="block" shape="round">ADD THIS CAR</ion-button>
    </ion-card>
  </form>
</ion-content>