.imageuploader {
    color: red;
}

ion-card {
    padding-right: 20px;
}

ion-textarea {
    height: 15px;
}

ion-button {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}