<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/year"></ion-back-button>
    </ion-buttons>
    <ion-title>Programming</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar #search debounce="500" (ionChange)="_ionChange($event)" showCancelButton="never"></ion-searchbar>

  <ion-grid>
    <ion-row>
    <ion-col size="6" class="ion-no-padding" *ngFor="let carmodel of searchedItem" (click)="onClick(brand = carmodel.brand, model = carmodel.model, startyear = carmodel.startyear, endyear = carmodel.endyear)">
      <ion-card>
          <ion-card-content>
                <img src="{{carmodel.icon}}">
                <h3>{{carmodel.brand}} {{carmodel.model}}</h3>
                <ion-card-subtitle color="medium">{{carmodel.startyear}} - {{carmodel.endyear}}</ion-card-subtitle>
          </ion-card-content>
      </ion-card>
    </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
