<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="addremote()">
        <ion-icon slot="icon-only" ios="add-outline" md="add-outline"></ion-icon>
        
      </ion-button>
    </ion-buttons>

    <ion-title>All Remotes</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar #search debounce="500" (ionChange)="_ionChange($event)" showCancelButton="never"></ion-searchbar>


  <ion-card *ngFor="let remote of searchedItem">
    <ion-grid>
      <ion-card-content>

        <ion-row no-padding>
          <ion-col size="6" text-center>
            <ion-card-subtitle color="dark">{{remote.brands}}</ion-card-subtitle>
            <h3>BLADE:{{remote.tc}}</h3>
            <h3>BOX:{{remote.box}}</h3>
            <br>
            <ion-button class= "selectbuttons" fill="outline" shape="round" (click)="onClick(x = remote.remotenumber)">Select</ion-button>
          </ion-col>
          <ion-col size="6">
            <img src="./assets/img/remotes/{{remote.icon}}" width="120" height="120" />
          </ion-col>
        </ion-row>

      </ion-card-content>
    </ion-grid>
  </ion-card>

</ion-content>