<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Car Brands
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Search by Car</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar #search debounce="500" (ionChange)="_ionChange($event)" showCancelButton="never"></ion-searchbar>

  <ion-card *ngFor="let item of searchedItem">
    <ion-card-content>
      <ion-row no-padding>
        <ion-col col-3 text-center>
          <ion-card-subtitle color="medium">BRAND</ion-card-subtitle>
          <ion-card-title>{{item.name}}</ion-card-title>
          <ion-button fill="outline" shape="round" (click)="onClick(x = item.name)">Select</ion-button>
        </ion-col>
        <ion-col>
          <img src="./assets/img/brands/{{item.icon}}" width="120" height="120"/>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>
