<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="refreshImagesButton()" disabled>
        <ion-icon slot="icon-only" ios="refresh-outline" md="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Car Brands</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar #search debounce="500" (ionChange)="_ionChange($event)" showCancelButton="never"></ion-searchbar>

  <div id="errorPrint">
    <ion-chip *ngIf="errorsinImages">
      <ion-label color="danger">Loading error in images</ion-label>
    </ion-chip>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="6" class="ion-no-padding" *ngFor="let item of searchedItem" (click)="onClick(x = item.name)">
        <ion-card class="ion-activatable ripple-parent">
          <ion-card-content>
            <img src="{{item.icon}}" width="120" height="115">
            <ion-card-subtitle color="medium">{{item.name}}</ion-card-subtitle>
          </ion-card-content>
          <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>