<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Car Brands</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar #search debounce="500" (ionChange)="_ionChange($event)" showCancelButton="never"></ion-searchbar>

  <ion-grid>
    <ion-row class="ion-no-padding">
    <ion-col size="6" class="ion-no-padding" *ngFor="let item of searchedItem" (click)="onClick(x = item.name)">
      <ion-card>
          <ion-card-content>
                <img src="{{item.icon}}">
                <ion-card-subtitle color="medium">{{item.name}}</ion-card-subtitle>
          </ion-card-content>
      </ion-card>
    </ion-col>
    </ion-row>
  </ion-grid>
  
  

  <!-- <ion-card *ngFor="let item of searchedItem">
    <ion-grid>
      <ion-card-content>
        <ion-row no-padding>
          <ion-col size="7" text-center>
            <ion-card-subtitle color="medium">BRAND</ion-card-subtitle>
            <ion-card-title>{{item.name}}</ion-card-title>
            <ion-button fill="outline" shape="round" (click)="onClick(x = item.name)">Select</ion-button>
          </ion-col>
          <ion-col size="5">
            <img src="{{item.icon}}">
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-grid>
  </ion-card> -->

</ion-content>