<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/model"></ion-back-button>
    </ion-buttons>
    <ion-title>{{car.model}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- <ion-card>
    <ion-item *ngFor="let year of years" (click)="onSelect(year)" class="ion-activated">
      <ion-label>{{year}}</ion-label>
    </ion-item>
  </ion-card> -->


  <ion-grid>
    <ion-row>
    <ion-col size="6" class="ion-no-padding" *ngFor="let year of years" (click)="onSelect(year)">
      <ion-card class="ion-activatable ripple-parent">
          <ion-card-content>
                {{year}}
          </ion-card-content>
          <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </ion-card>
    </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
