ion-card {
    box-shadow: 1px 1px 5px 0px rgba(84, 6, 156, 0.315);
    border-radius: 12px;
    margin: 12px;
    
}

ion-button {
    padding-left: 15px;
    padding-right: 15px;
}

.comyears {
    padding-left: 20px;
}

.errors {
    text-align: center;
}