<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Brand</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-card>
      <ion-item lines="none">
        <ion-label color="danger" position="stacked">Car Brand</ion-label>
        <ion-input type="text" ngModel name="carbrand" placeholder="Ford" required></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label color="danger" position="stacked">Icon Name</ion-label>
        <ion-input placeholder="ford.png" type="text" ngModel name="iconname" required></ion-input>
      </ion-item>
      <br>
    </ion-card>
    <ion-button class="doneButton" shape="round" color="success" type="submit" expand="block">DONE</ion-button>
  </form>

  <ion-item class="errors" lines="none">
    <ion-label color="danger" position="floating" *ngFor="let error of errorList">
      {{error}}
    </ion-label>
  </ion-item>

</ion-content>