<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{selectedmodel.model}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let submodel of submodels">
    <ion-card-content>
      <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button size="small" color="light">
          <img src="./assets/img/icons/{{submodel.carsubmodel.type}}.png"/>
        </ion-fab-button>
      </ion-fab>

      <ion-row no-padding>
        <ion-col col-3 text-center>
          <ion-card-subtitle color="medium">{{submodel.carsubmodel.startyear}} - {{submodel.carsubmodel.endyear}}</ion-card-subtitle>
          <ion-card-title>{{submodel.carsubmodel.submodel}}</ion-card-title>
          <ion-button fill="outline" shape="round" (click)="onClick(model = submodel.carsubmodel.submodel, brand = submodel.carsubmodel.brand, type = submodel.carsubmodel.type, startyear = submodel.carsubmodel.startyear, endyear = submodel.carsubmodel.endyear)">Select</ion-button>
        </ion-col>
        <ion-col>
          <img src="./assets/img/models/{{submodel.carsubmodel.icon}}" width="150" height="150"/>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>
