.cardetails {
    border-radius: 15px;
    box-shadow: 1px 1px 5px 0px rgba(73, 4, 138, 0.315);
}

h3 {
    font-family:'Times New Roman', Times, serif;
}

ion-card-header {
    text-align: center;
}

ion-card-subtitle {
    text-align: center;
    margin-top: 2px;
}

.chipblade {
    border-color: #144696;
    border-style: solid;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 0px rgba(84, 6, 156, 0.315);
    margin-bottom: 10px;
}

.obdtools {
    border-color: #149655;
    border-style: solid;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 0px rgba(84, 6, 156, 0.315);
    margin-bottom: 10px;
}

.kdxhorseremotes {
    border-color: #940000;
    border-style: solid;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 0px rgba(84, 6, 156, 0.315);
    margin-bottom: 10px;
}

.notes {
    border-style: solid;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 0px rgba(84, 6, 156, 0.315);
}

.worknotworkbadge {
    margin-bottom: 15px;
}

.originalremotes {
    border-radius: 15px;
    box-shadow: 1px 1px 5px 0px rgba(73, 4, 138, 0.315);
}

