.cardetails {
    --background: #3a1d52;
    --color: white;
    border-radius: 10px;
    box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
}

h3 {
    font-family:'Times New Roman', Times, serif;
}

ion-card-header {
    text-align: center;
}